<div class='row d-flex justify-content-center' style='margin-top: 18%;'>
<div class='col-lg-6'>
<h1 class='text-light'>MyLog</h1> 

<form action='/sessions' method="POST"> 
 <p> 
  <label for='email' class='text-primary'>Email:</label>
  <input class='form-control' type="email" name="email" id="email"> 
</p> 

<p> 
<label for='password' class='text-primary'>Password:</label>
<input class='form-control' type="password" name="password" id="password"> 
</p> 

  <center>
  <button class='btn btn-primary' type="submit" value="Submit">Log In</button>
  </center>

  </form>
  <hr class='bg-light' width='50%'>
  <center>
  <a href='/signup'> 
  <button class='btn btn-primary' type="submit" value="Submit">Sign Up</button>
  </a>
  </center>

  </div>
  </div>